.dark-mode-bar {
  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .dark-mode-label-hover {
    display: none;
  }
}

.prose {
  max-width: 100%;
}

.first-swiper {
  background: #91bfff url('/images/slider/light-my-swiper-bg.png');
  text-align: center;

  .title {
    margin-top: 5rem;
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(120deg, #285e8e, #82b6f6, #1f2937);
    background: -webkit-linear-gradient(120deg, #285e8e, #82b6f6, #1f2937);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .item-content {
    padding-top: 2rem;
    padding-bottom: 4rem;

    span {
      color: #285e8e;
      padding: 10px;
    }
  }
}


.dark {
  .first-swiper {
    background: #1f2937 url('/images/slider/dark-my-swiper-bg.png');
    text-align: center;

    .title {
      margin-top: 5rem;
      font-size: 5rem;
      font-weight: bold;
      background: linear-gradient(to top, #4facfe, #82f0f6);
      background: -webkit-linear-gradient(to top, #4facfe, #82f0f6);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }

    .item-content {
      padding-top: 2rem;
      padding-bottom: 4rem;

      span {
        color: #FFF;
        padding: 10px;
      }
    }
  }
}
